<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings configSource="connections.config" >
  </connectionStrings>
  <appSettings>
    <add key="fileDirectory" value="C:\Rakesh\Workspace\RhineTravelAPI\RhineTravelAPI.Console\App_Data\" />
    <add key="ClientsFilePath" value="App_Data\HotelAPI\"/>
    <add key="Credentials" value="App_Data\Credentials\HotelCredentials.xml"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>