<connectionStrings>
  
  <add name="INGMContext" connectionString="data source=ARD37;initial catalog=RhineServiceAPI;user id=sa;password=pamface;"/>
  <add name="INGMContext.Static" connectionString="data source=ARD37;initial catalog=StaticData;user id=sa;password=pamface;"/>
  <add name="INGMContext.App" connectionString="data source=ARD37;initial catalog=Travayoo;user id=sa;password=pamface;"/>
  
  
  <!--<add name="INGMContext" connectionString="data source=202.143.99.106;initial catalog=TravayooService;user id=IngDev;password=PKZHvy$r0vQ]81q@;"/>
  <add name="INGMContext.Static" connectionString="data source=202.143.99.106;initial catalog=StaticData;user id=IngDev;password=PKZHvy$r0vQ]81q@;"/>
  <add name="INGMContext.App" connectionString="data source=202.143.99.106;initial catalog=Travayoo;user id=IngDev;password=PKZHvy$r0vQ]81q@;"/>-->
  
  <!--<add name="INGMContext.local" connectionString="data source=JASHODHARA\ENABLESOFT;initial catalog=RhineServiceAPI;user id=sa;password=pamface;"/>  
  <add name="INGMContext.Office" connectionString="data source=DB-SERVER;initial catalog=BE_ServiceAPI;user id=BEXPDEV;password=@bexp#2021;"/>
  <add name="INGMContext.Rhine" connectionString="data source=DB-SERVER;initial catalog=BE_ServiceAPI;user id=BEXPDEV;password=@bexp#2021;"/>
  <add name="INGMContext.Live" connectionString="data source=DB-SERVER;initial catalog=BE_ServiceAPI;user id=BEXPDEV;password=@bexp#2021;"/>-->

</connectionStrings>